---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import type { Path } from '../lib/types';
import type { User } from '../state/user';

export interface Props {
  path: Path[];
  user?: User;
}

const { path, user } = Astro.props;

const storeThisUser = JSON.stringify(user);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{path[0].label}</title>
  </head>
  <body class="layout min-h-screen">
    <Header path={path} />
    <h1 class="ga-logo text-center font-bold text-xl my-auto">BadWithMoney</h1>

    <Sidebar
      links={Array(5).fill({
        link: '#',
        label: 'Placeholder',
        icon: 'mdi:money',
      })}
    />
    <div class="ga-content bg-purple-500">
      <slot />
    </div>
    <div data-hidden data-temp-user-store={storeThisUser}></div>
  </body>
</html>
<style is:global>
  [data-size='hidden'] {
    display: none;
  }
  .layout {
    display: grid;
    grid-template-areas:
      'logo header'
      'sidebar content';
    grid-template-columns: 180px 1fr;
    /* 180px is the sidebar width */
    grid-template-rows: 60px 1fr;
    /* 60px is the header height */
  }
</style>
<script>
  import { getDataFromServer } from '../lib/get-data';

  import { User, user } from '../state/user';

  const userFromServer = getDataFromServer<User>('data-temp-user-store');

  if (userFromServer) {
    user.set(userFromServer);
  }
</script>
